{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1 style="font-size: 200px; text-align: center;">TechTech</h1>
    <p style="text-align: center">
    <div class="content-section" style="margin: 100px 300px 100px 405px; width: 500px;">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Log In</legend>
          {{ form|crispy }}

        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" style="background-color: #2c3e50; color: white; border: 0px;" type="submit">Log In</button>

        </div>
      </form>
      <div class="border-top pt-3">
       <small class="text-muted"> Need an account?
       <a class="ml-2" href="{% url 'register' %}" style="color:white;">Sign Up</a>
       </small>

      </div>
    </div>
    </p>

{% endblock content %}