{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
    <div class="container">
      <h1 class="text-uppercase mb-0">{{ user.username }}</h1>
      <img class="img-fluid mb-5 d-block mx-auto" style="border-radius: 100px; margin: 50px" src="{{ user.profile.image.url }}" alt="">
      <h3 class="font-weight-light mb-0">{{ user.email }}</h3>
      <h2 class="text-uppercase mb-0">About:</h2>
      <h3 class="font-weight-light mb-0">{{ user.profile.bio }}</h3>
    </div>

    <script>
    function showUpdate() {
        var x = document.getElementById("updateSection");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    </script>
    <button class="btn btn-outline-info" onclick="showUpdate()" style="background-color: #2c3e50; color: white; border: 0px; margin: 80px;" type="submit"> Update profile</button>

    <div id="updateSection" style="display: none">
    <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
          <legend class="border-bottom mb-4">Edit</legend>
          {{ u_form|crispy }}
              {{ p_form|crispy }}

        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" style="background-color: #2c3e50; color: white; border: 0px;" type="submit"> Update</button>

        </div>
      </form>
    </div>

  </header>

  <!-- Portfolio Grid Section -->

{% endblock content %}
